<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="populateBody()">
<div class="header">
<div  id="signinButton" align="right">
   </br>Login Button to be placed here</div>
    <div><a href="/"> <h1 align="center">Inventory Manager</h1> </a></div>
    <div style="float:left; width:25%"><a href="/enter">Search DataBase</a> </div>
    <div style="float:left; width:25%"><a href="/addNewCategory">Add a new Category</a> </div>
    <div style="float:left; width:25%"><a href="/addItemForm">Add a new Item</a> </div>
    <div style="float:left; width:25%"><a href="">Place Holder link</a> </div>
    <hr>
</div>
<br>

<div align="center"><a href="/enter/Category">Return to all categories</a></div>
<hr>
<div align="center" id="allItems">

</div>
<hr>
</body>
<script>

    function populateBody(){
    elementDropDown = document.getElementById('allItems');
    var idsParsed = {{ids|tojson}};
    var namesParsed = {{names|tojson}};
    var descriptionsParsed = {{descriptions|tojson}};
    var quantitysParsed = {{quantitys|tojson}};


    for(x = 0; x < {{count}}; x++){

     var newDiv = document.createElement('div');
     newDiv.value = namesParsed[x];
     newDiv.innerHTML = namesParsed[x];
     elementDropDown.appendChild(newDiv);
     var newADiv = document.createElement('a');
     newADiv.setAttribute('href',"http://localhost:8080/enter/searchResult/" +idsParsed[x]);
     newADiv.innerHTML = "Read About This Item";
     elementDropDown.appendChild(newADiv);

    }
    }
</script>
</body>
</html>