<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
<div  id="signinButton" align="right">
   </br>Login Button to be placed here</div>
    <div><a href="/"> <h1 align="center">Inventory Manager</h1> </a></div>
    <div style="float:left; width:25%"><a href="/enter">Search DataBase</a> </div>
    <div style="float:left; width:25%"><a href="/addNewCategory">Add a new Category</a> </div>
    <div style="float:left; width:25%"><a href="/addItemForm">Add a new Item</a> </div>
    <div style="float:left; width:25%"><a href="">Place Holder link</a> </div>
    <hr>
</div>
<div align="center">
    <a href="/addItemForm">Return to add another new Item</a>
</div>
<div align="center">
    or
</div>
<div align="center">
    <a href="/enter"> Search for an Item</a>
</div>
</body>
</html>