<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Item</title>
</head>
<body onload="getAllCatOptions()">
<div class="header">
<div  id="signinButton" align="right">
   </br>Login Button to be placed here</div>
    <div><a href="/"> <h1 align="center">Inventory Manager</h1> </a></div>
    <div style="float:left; width:25%"><a href="/enter">Search DataBase</a> </div>
    <div style="float:left; width:25%"><a href="/addNewCategory">Add a new Category</a> </div>
    <div style="float:left; width:25%"><a href="/addItemForm">Add a new Item</a> </div>
    <div style="float:left; width:25%"><a href="">Place Holder link</a> </div>
    <hr>
</div>

<form action="{{url_for('makeNewItem')}}" method = 'POST'>
    Name: <input type="text" name="name" placeholder="Name of new Item(Required)" size="30"><br>
    Price: <input type="text" name="price" placeholder="Price of New Item(Required)" size="30"><br>
    Description: <input type="text" name="description"  placeholder="Description of New Item(Required)" size="30"><br>
    Quantity: <input type="text" name="quantity"  placeholder="Quantity in Stock (default 0)" size="30"><br>
    <select id="allCategories" onchange="CheckFieldState(this);">
        <option value="hideNew">Select a category for the item</option>
        <option value="addNew">Add New Categories</option>
    </select>
    <div id="catField" style="display: none;" > Add a new Category</div>
    <input id="hiddenField" type="text" name= "newCat" style="display: none;" size="30">
    <br>
    <input type="submit" value="submit">
</form>

<script>
   function CheckFieldState(that){
   if(that.value == "addNew"){
      document.getElementById("hiddenField").style.display = "block";
      document.getElementById("catField").style.display = "block";
    }
    else{
      document.getElementById("hiddenField").style.display = "none";
      document.getElementById("catField").style.display = "none";
     }
   }
   function getAllCatOptions(){
    elementDropDown = document.getElementById('allCategories');
    var xed = {{categorieNames|tojson}};

    for(x = 0; x < {{numberEntries}}; x++){

     var newOpt = document.createElement('option');
     console.log(xed[x] + " is the name")
     newOpt.value = xed[x]
     newOpt.innerHTML = xed[x]
     elementDropDown.appendChild(newOpt);
    }
   }
</script>
</body>
</html>