<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="loadAllItems()">
<div class="header">
<div  id="signinButton" align="right">
   </br>Login Button to be placed here</div>
    <div><a href="/"> <h1 align="center">Inventory Manager</h1> </a></div>
    <div style="float:left; width:25%"><a href="/enter">Search DataBase</a> </div>
    <div style="float:left; width:25%"><a href="/addNewCategory">Add a new Category</a> </div>
    <div style="float:left; width:25%"><a href="/addItemForm">Add a new Item</a> </div>
    <div style="float:left; width:25%"><a href="">Place Holder link</a> </div>
    <hr>
    <a href="/enter">Return to main search</a>
</div>
<div align="center">
<form action="{{url_for('rerurnsearchresults')}}" value method = 'POST'>
Search By Name:<input type="text" name="ID" size="75"><input type="submit" value="Search"><br>
</form>
</div>
<div id="allItems">
    This is where a List of all Items would go
</div>

</body>
<script>
    function loadAllItems(){
    elementDropDown = document.getElementById('allItems');

    var itemNames = {{itemNames|tojson}};
    var itemIds = {{itemID|tojson}};
    var y = {{count|tojson}};

    for(var x = 0; x < y; x++){


     var newDiv = document.createElement('div');
     newDiv.value = itemNames[x];
     newDiv.innerHTML = itemNames[x];
     elementDropDown.appendChild(newDiv);
     var newADiv = document.createElement('a');
     newADiv.setAttribute('href',"http://localhost:8080/enter/searchResult/" +itemIds[x]);
     newADiv.innerHTML = "Read About This Item";
     elementDropDown.appendChild(newADiv);
     var newBDiv = document.createElement("BR");
     elementDropDown.appendChild(newBDiv);

      }
    }
</script>
</html>