<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="myKey.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<div align="center">
    <h3> Please Log in at the using Google: </h3>
    <h4>button here</h4>
</div>
<div align ="center" class="g-signin2" data-onsuccess="onSignIn">
     <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        //Sourced from Google's guide page
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>
</div>
</body>
</html>