<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
</head>
<body onload="getAllCatOptions()">
<div class="header">
  <h1 align="center">Inventory Manager</h1>
</div>
<h2>Update Item</h2>
<form action="{{url_for('commitChanges')}}" method = 'POST'>
    ItemID:      <input type="text" name="ID" value={{updateItem.id}} size="10" readonly><br>
    Name:        <input type="text" name="name" value={{updateItem.name}} placeholder="Name of new Item(Required)" size="30"><br>
    Price:       <input type="text" name="price" value={{updateItem.price}} placeholder="Price of New Item(Required)" size="30"><br>
    Description: <input type="text" name="description" value={{updateItem.description}} placeholder="Description of New Item(Required)" size="30"><br>
    Quantity:    <input type="text" name="quantity"   value={{updateItem.quantity}} placeholder="Quantity in Stock (default 0)" size="30"><br>
    <select id="allCategories" onchange="CheckFieldState(this);">
        <option value="hideNew">Select a category for the item</option>
        <option value="addNew">Add New Categories</option>
    </select>
    <div id="catField" style="display: none;" > Add a new Category</div>
    <input id="hiddenField" type="text" name= "newCat" style="display: none;" size="30">
    <br>
    <input type="submit" value="submit">
</form>

<script>
   function CheckFieldState(that){
   if(that.value == "addNew"){
      document.getElementById("hiddenField").style.display = "block";
      document.getElementById("catField").style.display = "block";
    }
    else{
      document.getElementById("hiddenField").style.display = "none";
      document.getElementById("catField").style.display = "none";
     }
   }

   function getAllCatOptions(){
    elementDropDown = document.getElementById('allCategories');
    var xed = {{categorieNames|tojson}};

    for(x = 0; x < {{numberEntries}}; x++){

     var newOpt = document.createElement('option');
     console.log(xed[x] + " is the name")
     newOpt.value = xed[x]
     newOpt.innerHTML = xed[x]
     elementDropDown.appendChild(newOpt);
    }
   }
</script>
</body>
</html>